<div class="netcode-about">
    <h2>What is Netcode?</h2>
    <p>Netcode is a first person shooter game developed by us, Czövek Márton and Musa Benedek throughout our journey in university.</p>
    <p>This project started out as a collective test for every piece of game development and computer graphics we learned about. The important parts of the project was coded by us with the usage of some libraries.</p>
    <p>The website you are currently reading was created as a multiplayer extension for the project. Basically a very in-depth test for how to create a multiplayer game from the registration to the actual communication between clients and server while gaming. While most of the project was a collaboration this project was made by me.</p>
    <p class="sign">- Musa Benedek</p>
    <h2 class="semicolon">Semicolon</h2>
    <p>We are part of a bigger group of 6 people and we branched to different parts of IT, it is always very intriguing what the others are working on, so here are a few links for you to check out their works too:</p>
    <p>- zsmb, the Kotlin enthusiast: <a href="https://zsmb.co" target="_blank">zsmb.co</a></p>
</div>
<div class="netcode-register">
    <h2>Register</h2>
    <p><b>Be adwised!</b> This website does not have SSL certificate, while I store your passwords in a properly salted way, the tunnel used to communicate can be eavesdropped. This means a malicious node on the network could steal your password. Use easy passwords that are not valueable when stolen.</p>
    <form onsubmit="return false;">
        <div class="netcode-input">
            <label for="">Username:</label>
            <input type="text" ng-model="username" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="3-16 characters">
        </div>
        <div class="netcode-input">
            <label for="">Password:</label>
            <input type="password" ng-model="password" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Don't use your usual">
        </div>
        <div class="netcode-input">
            <label for="">Confirm Password:</label>
            <input type="password" ng-model="password_again" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Don't use your usual">
        </div>
        <div class="netcode-input">
            <button ng-click="register()">Send</button>
        </div>
        <div class="netcode-output">
            <div class="netcode-error">{{ errorMessage }}</div>
            <div class="netcode-success">{{ successMessage }}</div>
        </div>
    </form>
</div>
<div class="cl"></div>
